<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitVersionTask" version="3.5.4" targetFramework="net40" developmentDependency="true" />
  <package id="MSBuild.MSBBuildConvention" version="2.0.0" targetFramework="net40" />
  <package id="MSBuild.MSBNuget" version="1.1.2-pre03" targetFramework="net40" />
  <package id="NuGet.CommandLine" version="3.4.3" targetFramework="net40" developmentDependency="true" />
</packages>